<h1><%= link_to 'Item Search', root_path %></h1>
<p>
<form action="<%= search_path %>" method="POST">
    <input type="input" name="keyword" required>
    <input type="submit" value="Search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
</p>

<% if ! @jsonData.nil? %>

<%= puts 'hoge'%>

<table>
  <% i = 0 %>
  <tr>
    <td>値段($)</td><td>値段(円)</td><td>商品名</td>
  </tr>
  <% @jsonData['Items'].each do |item| %>
  <tr>
    <% if i % 2 == 0 then%>
    <td bgcolor='#ffffc0'>
    <% else %>
    <td bgcolor='#cccccc'>
    <% end %>
    <%= (item['Item']['itemPrice'].to_f/99.7605746).round(2) %>$</td>

    <% if i % 2 == 0 then%>
    <td bgcolor='#ffffc0'>
    <% else %>
    <td bgcolor='#cccccc'>
    <% end %>
    <%= item['Item']['itemPrice'] %>円</td>

    <% if i % 2 == 0 then%>
    <td bgcolor='#ffffc0'>
    <% else %>
    <td bgcolor='#cccccc'>
    <% end %>
    <%= link_to item['Item']['itemName'], item['Item']['affiliateUrl'] %></td>
    <% i = i + 1 %>

  </tr>
  <% end %>
</table>

<% end %>
<style>
table {
  border-collapse: collapse;
}
td {
  border: solid 1px;
  padding: 0.5em;
}
</sytle>
